* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Raleway' , sans-serif;
  font-weight: 400;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px;
  font-size: 18px;
}

.header_links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  list-style:circle;
}

.menu-link_active {
  text-decoration:none;
  list-style: none;
}

.header-logo-image {
  display: block;
  width: 137px;
  height: auto;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;
  font-size: 18px;
}

.address ul {
  list-style: none;
}

.header-address {
  justify-self:end;
  max-width: 230px;
}

.cover {
  background-image: url("../images/cover.jpg");
  position: relative;
  min-height: 757px;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 0;
}

.cover-title {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 165px 27px 0 50px;
  z-index: 2;
  margin: 0;
  gap: 20px;
}

.aligned-text {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 100px;
  color: rgba(255, 255, 255, 1);
  display: block;
  line-height: 1;
  letter-spacing: 30px;
}

.aligned-text_left {
  align-self: flex-start;
}

.aligned-text_center {
  align-self: center;
  padding-top: 20px;
}

.aligned-text_right {
  align-self: flex-end;
  padding-top: 20px;
}

.cover-description {
  display:flex;
  align-items: center;
  position: relative;
  z-index: 2;
  padding-top: 110px;
  padding-left: 50px;
  gap: 107px;
}

.cover_description-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  word-spacing: 18px;

}

.bet-button {
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  width: 256px;
  height: 51px;
  border: 1px solid rgba(255, 255, 255, 1);
}

.lots {
  padding: 172px 24px 0 24px;
}

.lots__heading {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  padding-left: 40px;
  margin-bottom: 27px;
}

.lots__card-list {
  list-style: none;
  min-height: 596px;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card {
  display: flex;
  flex-direction:column;
  position: relative;
  height: 100%;
  width: 334px;
  text-decoration:none;
  color: rgba(255, 255, 255, 1);
}

.card-type-film {
  background-image: url("../images/card-lot-01.jpg");
  background-size: cover;
  background-position: center;
}

.card-type-book {
  background-image: url("../images/card-lot-02.jpg");
  background-size: cover;
  background-position: center;
}

.card-type-picture {
  background-image: url("../images/card-lot-03.jpg");
  background-size: cover;
  background-position: center;
}

.card__title {
  position: relative;
  z-index: 1;
  color: rgba(255, 255, 255, 1);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  padding: 48px 40px 0 40px;
  margin-bottom: auto;
  text-decoration:underline;
}

.card__text {
  position: relative;
  z-index: 1;
  color: rgba(255, 255, 255, 1);
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding: 0 40px 48px 40px;
  margin-top: auto;
}

.more {
  color: rgba(0, 0, 0, 1);
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-decoration:underline;
  padding-left: 40px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  padding: 160px 10px 0 24px;
  gap:25px;
}

.logo-column {
  display: flex;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  justify-content:center;
  align-items: center;
  margin: 0 auto;
  
}

.about-logo_image {
  width: 148px;
  height: 114px;
}

.about-column {
  display: flex;
  flex-direction: column;
  padding: 97px 0 10px 0;
}

.about__title {
  color: rgba(0, 0, 0, 1);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin: 0 0 100px 0;
  padding-right: 350px;

}

.about__text {
  color: rgba(0, 0, 0, 1);
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  padding-top: 165px;
  margin: 0 50px 82px 50px;
}

.footer-address {
  justify-self:start;
  max-width: 250px;
}

.footer-menu-list {
  display: flex;
  flex-direction:column;
  align-items: center;
  list-style: none;
  font-size: 18px;
}

.socials {
    justify-self: end;
}

.footer__social-list {
  list-style: none;
  display: flex;
  gap: 48px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}